.bg-primary-color { background-color: #424867 !important;}
.bg-secondary-color { background-color: #C2AB70 !important;}
.text-secondary-color { color: #C2AB70 !important;}

.min-height {
    min-height: 80vh;
}

.navbar-nav .nav-link{
    color: #C2AB70;
}

.title {
    font-size: 3rem;
    margin-top: 12rem;
}

.hero-img{
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.logo{ 
    width: 100px;
}

.copy-icon{
    position: absolute;
    width: 25px;
    cursor: pointer;
    top: 3px;
    right: 3px;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #eaedf8;
}

.relative { position: relative; }
.mt-10{ margin-top: 10rem !important; }