.bg-primary-color { background-color: #424867 !important;}
.bg-secondary-color { background-color: #C2AB70 !important;}
.text-secondary-color { color: #C2AB70 !important;}

.min-height {
    min-height: 80vh;
}

.navbar-nav .nav-link{
    color: #C2AB70;
}

.title {
    font-size: 3rem;
    margin-top: 12rem;
}

.hero-img{
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.logo{ 
    width: 100px;
}

.mt-10{ margin-top: 10rem !important; }